body {
  background-image: linear-gradient(to right, #007BFF, red);
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

p {
  color: white;
  margin-top: 1rem !important;
  margin-bottom: 0 !important;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h5 {
  color: white !important;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.youtube_color {
  color: gold;
  border: 2px solid gold !important;
}

.instagram_color {
  color: gold;
  border: 2px solid gold !important;
}

.facebook_color {
  color: gold;
  border: 2px solid gold !important;
}

.white {
  color: white;
}

.brand_logo {
  height: auto;
  width: 170px;
}

.nav_btn .yt:hover {
  color: gold !important;
  border: 2px solid gold;
}

.nav_btn .insta:hover {
  color: gold !important;
  border: 2px solid gold;
}

.nav_btn .fb:hover {
  color: gold !important;
  border: 2px solid gold;
  ;
}

.main_content {
  min-height: 100vh;
  height: auto;
}

.white-line {
  border: 1px solid white;
  margin: 10px 0;
  height: 1px;
  box-shadow: 0 2px 5px rgb(255, 255, 255);
}

label {
  color: white;
}

button {
  background-color: mediumvioletred !important;
}

.options {
  border: 1px solid white;
}

.round-link {
  background: transparent;
  border: 2px solid white;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 30px;
  margin-left: 8px;
}
.loader{
  width: 50px;
}
/* .nav_bg{
  background-image: linear-gradient(to right, #007BFF, red);
  background-repeat: no-repeat;
  background-size: cover;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}